<%- include('../partials/header') %>

<form id="edit-page" action="/pour-over/<%= recipe._id %>?_method=PUT" method="POST">
    <label>Name:</label>
        <input type="text" name="name" value="<%= recipe.name %>">
    <label>Brewer:</label>
        <select name="brewer">
        <%- brewers.map(b =>
        `<option value="${b._id}">${b.name}</option>`
        ) %>
        </select>
    <label>Grinder:</label>
    <select name="grinder">
        <%- grinders.map(g =>
        `<option value="${g._id}">${g.name}</option>`
        ) %>
        </select>
    <label>Grind Size:</label>
        <input type="number" name="grindSize" value="<%= recipe.grindSize %>">
    <label>Weight:</label>
        <input type="number" name="weight" value="<%= recipe.weight %>">
    <label>Temperature:</label>
        <input type="number" name="temperature">
    <label>Notes:</label>
        <input type="text" name="notes">
    <input type="submit" value="Update">
</form>


<%- include('../partials/footer') %>