<%- include('../partials/header') %>

<form id="edit-page" action="/pour-over/<%= recipe._id %>?_method=PUT" method="POST" class="mx-auto border p-4">
    <div class="form-group">
        <label id="edit-text">Name:</label>
        <input type="text" name="name" value="<%= recipe.name %>" class="form-control">
        <label id="edit-text">Brewer:</label>
            <div class="form-control"><%= recipe.brewer.name %></div>
        <label id="edit-text">Grinder:</label>
            <div class="form-control"><%= recipe.grinder.name %></div>
        <label id="edit-text">Grind Size:</label>
            <input type="number" name="grindSize" value="<%= recipe.grindSize %>" class="form-control" step="0.1">
        <label id="edit-text">Weight (g):</label>
            <input type="number" name="weight" value="<%= recipe.weight %>" class="form-control" step="0.1">
        <label id="edit-text">Temperature (°C):</label>
            <input type="number" name="temperature" value="<%= recipe.temperature %>" class="form-control">
        <label id="edit-text">Notes: </label>
            <textarea name="notes" class="form-control rows="10" cols="100"><%= recipe.notes %></textarea>
        <br>
        <button type="submit" class="btn btn-primary" id="update-btn">Update</button>
    </div>
</form>


<%- include('../partials/footer') %>