<%- include('../partials/header') %>

<section class="alert fade show bg-light p-4">
    <div class="toast-header"><%= recipe.name %></div>
    <br>   
    <div>Brewer: <%= recipe.brewer %></div>
    <br>
    <div>Grinder: <%= recipe.grinder %></div>
    <br>
    <div>Grind Size: <%= recipe.grindSize %></div>
    <br>
    <div>Weight (g): <%= recipe.weight %></div>
    <br>
    <div>Temperature (°C): <%= recipe.temperature %></div>
    <br>
    <div>Notes: <%= recipe.notes %></div>
    <br>
    <br>
    <div class="btn-group" role="group">
        <form action="/pour-over/<%= recipe._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger me-2">Delete</button>
        </form>
        <button class="btn btn-primary"><a class="text-decoration-none text-white" href="/pour-over/<%= recipe._id %>/edit">Edit</a></button>
    </div> 
</section>
  
<button class="btn btn-primary ms-2"><a class="text-decoration-none text-white" href="/">BACK</a></button>

<%- include('../partials/footer') %>