<%- include('../partials/header') %>

<div class="container mt-3 p-3">
    <div class="row">
      <div class="col-sm-6">
        <h5>Recipe: <%= recipe.name %></h5>
        <div>Brewer: <%= recipe.brewer.name %></div>
        <div>Grinder: <%= recipe.grinder.name %></div>
        <div>Grind Size: <%= recipe.grindSize %></div>
        <div>Weight (g): <%= recipe.weight %></div>
        <div>Temperature (°C): <%= recipe.temperature %></div>
        <div>Notes: <%= recipe.notes %></div>
      </div>
    </div>
    <div class="row mt-3 justify-content-between">
      <form action="/pour-over/<%= recipe._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger me-2">Delete</button>
      </form>
      <button class="btn btn-primary"><a class="text-decoration-none text-white" href="/pour-over/<%= recipe._id %>/edit">Edit</a></button>
      <button class="btn btn-secondary"><a class="text-decoration-none text-white" href="/">BACK</a></button>
    </div>
  </div>
<%- include('../partials/footer') %>