<%- include('../partials/header') %>

<h1>This is my show page.</h1>

<section id="show-page">
    <div>Name: </div>
        <div><%= recipe.name %></div>
    <div>Brewer: </div>
        <div><%= recipe.brewer %></div>
    <div>Grinder: </div>
        <div><%= recipe.grinder %></div>
    <div>Grind Size: </div>
        <div><%= recipe.grindSize %></div>
    <div>Weight: </div>
        <div><%= recipe.weight %></div>
    <div>Temperature: </div>
        <div><%= recipe.temperature %></div>
    <div>Notes: </div>
        <div><%= recipe.notes %></div>
</section>
<form action="/pour-over/<%= recipe._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
</form>
<button><a href="/pour-over/<%= recipe._id %>/edit">Edit</a></button>



<button><a href="/">BACK</a></button>

<%- include('../partials/footer') %>